
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Created</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1 class="heading">ShowCreated</h1>
    </body>
</html>


